In [6]:
import json
import numpy as np
import pandas as pd

from collections import defaultdict
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
file = "/Users/meiyihe/Desktop/NYU/Fall2018/data/renttherunway_final_data.json"
df = pd.read_json(file, lines=True)

In [3]:
df.shape

(192544, 15)

In [9]:
df.head()

,age,body type,bust size,category,fit,height,item_id,rating,rented for,review_date,review_summary,review_text,size,user_id,weight
0,28.0,hourglass,34d,romper,fit,"5' 8""",2260466,10.0,vacation,"April 20, 2016",So many compliments!,An adorable romper! Belt and zipper were a lit...,14,420272,137lbs
1,36.0,straight & narrow,34b,gown,fit,"5' 6""",153475,10.0,other,"June 18, 2013",I felt so glamourous!!!,I rented this dress for a photo shoot. The the...,12,273551,132lbs
2,116.0,NaN,NaN,sheath,fit,"5' 4""",1063761,10.0,party,"December 14, 2015",It was a great time to celebrate the (almost) ...,This hugged in all the right places! It was a ...,4,360448,NaN
3,34.0,pear,34c,dress,fit,"5' 5""",126335,8.0,formal affair,"February 12, 2014",Dress arrived on time and in perfect condition.,I rented this for my company's black tie award...,8,909926,135lbs
4,27.0,athletic,34b,gown,fit,"5' 9""",616682,10.0,wedding,"September 26, 2016",Was in love with this dress !!!,I have always been petite in my upper body and...,12,151944,145lbs

In [19]:
#df.describe()
#df['category'].unique()
#df['rented for'].unique()

In [11]:
df_train, df_test = train_test_split(df, test_size=0.33, random_state=42)

In [12]:
len(df_train)

129004

In [25]:
# user: list of items
user_itemList = defaultdict(set)
# item: list of users
item_userList = defaultdict(set)

for idx, row in df.iterrows():
    user_itemList[ row['user_id'] ].add( row['item_id'] )

    item_userList[ row['item_id'] ].add( row['user_id'] )

In [28]:
item_userList[2260466]

{47899,
 94753,
 136859,
 144861,
 145029,
 171714,
 215334,
 243703,
 359898,
 416078,
 420272,
 441521,
 462827,
 479124,
 498645,
 525031,
 529453,
 563439,
 569796,
 586735,
 598173,
 652163,
 691468,
 765263,
 766938,
 784760,
 956455,
 964661}

In [31]:
def find_jaccard(user, item, user_itemList, item_userList):
    # get the purchase history of current user
    curr_items = user_itemList[user]
    # get the users lists who have purchase this item
    curr_users = item_userList[item]
    
    # find the set of items that purchased by people who had purchased the item we want to test
    tmp_items = []
    # calculate jaccard score
    for i in curr_users:
        tmp_items += list(user_itemList[i])
    tmp_items = list(set(tmp_items))
    
    item_score = float(len(set(curr_items)&set(tmp_items))) / float(len(set(curr_items) | set(tmp_items)))
    
    # find the set of users that purchased the items bought by current users
    # i.e. for each item purchased by current user, find who else bought this items
    tmp_users = []
    for i in curr_items:
        tmp_users += list(item_userList[i])
    tmp_users = list(set(tmp_users))
    
    user_score = float(len(set(curr_users)&set(tmp_users))) / float(len(set(curr_users) | set(tmp_users)))
    return max(item_score, user_score)
#     print(item_score)
#     print(user_score)

In [32]:
find_jaccard(47899,2260466,user_itemList, item_userList)

0.22764227642276422